<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-about-us.css">
    <link rel="stylesheet" href="/css/style-header.css">
    <link rel="stylesheet" href="/css/keyframes-home.css">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Oswald:wght@700&display=swap" rel="stylesheet">
    <title>Postech</title>
</head>
<body>
    <header>
        <a class="logo" href="/home">Postech</a>
        <ul class="nav">
            <li><a href="/home">Tela principal</a></li>
            <li><a href="/about-us">Sobre nós</a></li>
            <li><a href="/social">Redes Sociais</a></li>
        </ul>
        <input type="button" value="Sair" id="logout-btn">
    </header>
    <div class="background-filter"></div>
    <div class="main">
        <div class="about-us-card">
            <div class="card-body">
                <img class="img-card" src="/images/about-us-icon.png">
                <div class="text-card">
                    <h1 class="title-card">Sobre nós</h1>
                    <p class="description-card">Em nosso site de tecnologia, cada página é uma janela para o universo em constante expansão da inovação. 
                    <br><br>Aqui, a expertise dos nossos desenvolvedores é traduzida em uma experiência de navegação fluida, onde você pode explorar as últimas tendências tecnológicas com facilidade e segurança. Nossos designers são os artistas digitais que transformam ideias em visuais envolventes, criando uma atmosfera única que reflete a vanguarda do design e da tecnologia. 
                    <br><br>Cada detalhe da interface é cuidadosamente planejado para proporcionar não apenas funcionalidade, mas também uma estética que cativa e inspira. Os redatores, apaixonados por contar as histórias por trás dos avanços tecnológicos, desvendam o jargão técnico e apresentam as inovações de forma acessível.
                    <br><br>Através de artigos e análises, eles oferecem insights profundos, permitindo que os leitores mergulhem nas complexidades e possibilidades do mundo digital. Essa sinergia entre desenvolvedores, designers e redatores cria um espaço digital dinâmico, onde as últimas novidades tecnológicas se entrelaçam, formando uma tapeçaria fascinante. Navegar pelo nosso site não é apenas explorar informações, mas imergir em um ecossistema que celebra a evolução incessante da tecnologia e sua influência nas nossas vidas.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/home.js"></script>
</body>
</html>