<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Oswald:wght@700&display=swap" rel="stylesheet">
    <title>Postech</title>
</head>
<body>
    <header>
        <a class="logo" href="/home">Postech</a>
        <div class="header-btns">
            <a href="/register"><input type="button" value="Registrar" id="register-btn"></a>
            <a href="/login"><input type="button" value="Login" id="login-btn"></a>
        </div>
    </header>
    <div class="main">
        <div class="background-filter"></div>
        <div class="login-row">
            <form id="register-form">
                <h1 class="title-login">Registrar-se</h1>
                <div class="input-group user-group">
                    <label for="username">Nome de usuário:</label><br>
                    <input type="text" name="username" class="input-field" id="username-input"><br>
                </div>
                <div class="input-group password-group">
                    <label for="password" id="password-label">Senha:</label><br>
                    <input type="password" name="password" class="input-field" id="password-input">
                </div>
                <div class="input-group password-group">
                    <label for="password" id="confirm-password-label">Confirmar senha:</label><br>
                    <input type="password" class="input-field" id="confirm-password-input">
                </div>
                <p class="alert alert-error" id="alert-error"></p>
                <p class="alert alert-success" id="alert-success"></p>
                <div class="input-group button-group">
                    <input type="submit" class="input-button" id="submit-button" value="Registrar">
                </div>
            </form>
        </div>
    </div>
    <script src="/js/register.js"></script>
</body>
</html>