<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-social.css">
    <link rel="stylesheet" href="/css/style-header.css">
    <link rel="stylesheet" href="/css/keyframes-home.css">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Oswald:wght@700&display=swap" rel="stylesheet">
    <title>Postech</title>
</head>
<body>
    <header>
        <div class="logo">Postech</div>
        <ul class="nav">
            <li><a href="/home">Tela principal</a></li>
            <li><a href="/about-us">Sobre nós</a></li>
            <li><a href="/social">Redes Sociais</a></li>
        </ul>
        <input type="button" value="Sair" id="logout-btn">
    </header>
    <div class="background-filter"></div>
    <div class="main">
        <div class="list-cards">
            <div class="social-card">
                <div class="card-body">
                    <img class="img-card" src="https://static-00.iconduck.com/assets.00/github-icon-512x497-oppthre2.png">
                    <div class="text-card">
                        <h1 class="title-card">Github</h1>
                        <p class="description-card">ianmsfvenom: <a href="https://github.com/ianmsfvenom">Clique aqui</a><br><br>
                        HAAX3CN: <a href="https://github.com/HAAX3CN">Clique aqui</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/home.js"></script>
</body>
</html>